<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {{ page_title }}
      -
      {{ shop.name }}
    </title>
    {{ content_for_header }}
    <!-- Favicon -->
    {% if settings.favicon != blank %}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}
    <!-- Fonts -->
    {% if settings.heading_font != blank %}
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family={{ settings.heading_font.family | replace: ' ', '+' }}:wght@400;700&display=swap"
      >
    {% endif %}
    {% if settings.body_font != blank and settings.body_font != settings.heading_font %}
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family={{ settings.body_font.family | replace: ' ', '+' }}:wght@400;700&display=swap"
      >
    {% endif %}

    <style>
        /* Dynamic Fonts */

        /* Dynamic Colors */
        :root {
          --color-primary: {{ settings.primary_color }};
          --color-secondary: {{ settings.secondary_color }};
          --color-background: {{ settings.background_color }};
          --color-text: {{ settings.text_color }};
          --color-heading: {{ settings.heading_color }};
          --color-transparent: {{ settings.transparent_color }};

        --font-heading: {{ settings.heading_font.family }}, sans-serif;
      --font-body: {{ settings.body_font.family }}, sans-serif;
        }
        .page-wrap {
          overflow-x: hidden !important;
        }
    </style>

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
  </head>
  <body>
    <div class="page-wrap">
      <header>
        {% sections 'header-group' %}
      </header>

      <main role="main">
        {{ content_for_layout }}
      </main>

      <footer>
        {% sections 'footer-group' %}
      </footer>
    </div>

    <!-- JavaScript at Bottom -->
    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    {{ content_for_footer }}
  </body>
</html>
