<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
      {{ page_title | escape }}
      {% if current_tags %} - tagged "{{ current_tags | join: ', ' }}"{% endif %}
      {% if current_page != 1 %} - Page {{ current_page }}{% endif %}
      {% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <meta name="theme-color" content="{{ settings.colors_primary }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family={{ settings.type_header_font.family | handle }}:wght@400;500;600;700&family={{ settings.type_body_font.family | handle }}:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    >

    <style>
      :root {
          --color-primary: {{ settings.colors_primary }};
          --color-secondary: {{ settings.colors_secondary }};
          --color-background: {{ settings.colors_background }};
          --font-heading: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
          --font-body: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
      }
    </style>
    {{ content_for_header }}
  </head>
  <body>
    {% sections 'header-group' %}

    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}
  </body>
</html>
