<div class="page-width">
  <div class="blog-header">
    <h1 class="blog-title">{{ blog.title }}</h1>
    {%- if blog.description != blank -%}
      <div class="blog-description rte">{{ blog.description }}</div>
    {%- endif -%}
  </div>

  {%- paginate blog.articles by 6 -%}
    <div class="blog-articles">
      {%- for article in blog.articles -%}
        <article class="blog-article">
          {%- if article.image -%}
            <div class="article-image">
              <a href="{{ article.url }}">
                {{
                  article.image
                  | image_url: width: 533
                  | image_tag:
                    loading: 'lazy',
                    sizes: '(min-width: 1100px) 533px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)'
                }}
              </a>
            </div>
          {%- endif -%}

          <div class="article-content">
            <header class="article-header">
              <h2 class="article-title">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h2>
              <span class="article-date">{{ article.published_at | time_tag: format: 'date' }}</span>
            </header>

            <div class="article-excerpt rte">
              {%- if article.excerpt != blank -%}
                {{ article.excerpt }}
              {%- else -%}
                {{ article.content | strip_html | truncate: 150 }}
              {%- endif -%}
            </div>

            <a href="{{ article.url }}" class="button">Read more</a>
          </div>
        </article>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      <div class="pagination">
        {{ paginate | default_pagination }}
      </div>
    {%- endif -%}
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "Blog pages",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "posts_per_page",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 6,
      "label": "Posts per page"
    }
  ]
}
{% endschema %}
