<section class="product-grid">
  <div class="container">
    <div class="product-grid-main">
      <h3>{{ section.settings.section_heading }}</h3>
      <div class="product-grid-content">
        {% for product in collections[section.settings.collection].products limit: section.settings.grid_item_count %}
          <div class="product-grid-item">
            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
            <h4>{{ product.title }}</h4>
            <p>{{ product.price | money }}</p>
            <a href="{{ product.url }}" class="btn">Add to cart</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
  .product-grid {
    padding: 80px 0px;
  }
  .product-grid-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .product-grid-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .product-grid-item {
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .product-grid-item img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  @media (max-width: 992px) {
    .product-grid-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 768px) {
    .product-grid {
      padding: 40px 0px;
    }
    .product-grid-content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "range",
      "id": "grid_item_count",
      "label": "Number of items to display",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Featured Products"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    }
  ],
  "presets": [
    {
      "name": "Product Grid",
      "category": "Product"
    }
  ]
}
{% endschema %}
